.hidden {
    display: none;
}

.spotInfo {
    margin-left: 75px;
}

.name-location {
    padding-left: 4.5px;
    /* border: 1px solid black; */
}

.main-header {
    margin-bottom: 10px;
}

.secondary-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.header-rating-info {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.main-image {
    grid-area: main;
    display: flex;
    /* border: solid 1px black; */
    height: 101%;
    /* margin-bottom: 0px; */
}

.spotImage {
    width: 98%;
    height: 98%;
    margin: 4.5px;
}

.spotImages {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas:
        "main others";
    /* border: 1px solid black; */
    margin-right: 75px;
    width: 1250px;
    height: 500px;
}

.other-images {
    /* border: 1px solid black; */
    grid-area: others;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    grid-template-areas:
        "second third"
        "fourth fifth";
}

.first-img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.second-img {
    grid-area: second;
}

.third-img {
    grid-area: third;
    border-top-right-radius: 15px;
}

.fourth-img {
    grid-area: fourth;
}

.fifth-img {
    grid-area: fifth;
    border-bottom-right-radius: 15px;
}

.reviews {
    margin: 4.5px;
}

.review-summary {
    position: absolute;
    top: 725px;
    right: 90px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template: 60px 40px/1fr;
    grid-template-areas:
    "info"
    "reserve";
    width: 350px;
    height: 100px;
    z-index: 1;
}

.upper {
    grid-area: info;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas:
    "price rating";
}

#separater {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
}

.lower {
    grid-area: reserve;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reserve-button {
    height: 45px;
    width: 150px;
    color: white;
    background-color: #FF5A5F;
    /* border: 1px solid black; */
    border: none;
    border-radius: 15px;
    font-size: 15px;
    /* box-shadow: 2px 2px 5px black; */
    margin-bottom: 15px;
}

.callout {
    /* border: 1px solid black; */
    grid-area: price;
    display: flex;
    align-items: center;
    justify-content: center;
}

#price {
    font-weight: bold;
}

#night {
    font-size: 15px;
}

.rating-info {
    /* border: 1px solid black; */
    grid-area: rating;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#review-header {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    height: 25px;
    width: 200px;
}

#header-star {
    font-size: 20px;
}

.fa-star {
    font-size: 15px;
}

.description {
    width: 950px;
    height: 300px;
    padding: 4.5px;
}

#delete-button {
    /* border: 1px solid black; */
    border: none;
    background-color: #FF5A5F;
    color: white;
    margin: 4.5px;
    margin-right: 2px;
    border-radius: 15px 15px 15px 15px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
}

#update-button {
    /* border: 1px solid black; */
    margin: 4.5px;
    margin-right: 2px;
    border: none;
    background-color: #999999;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
}

.post-review-button {
    border: none;
    background-color: #999999;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 5px;
}
