.page-div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.create-form-headers {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* .create-submite-button {
    border: none;
    background-color: #999999;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 5px;
} */

#form-div {
    width: 950px;
    /* border: 1px solid #999999; */
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

.create-spot-form {
    width: 850px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "location"
        "description"
        "title"
        "pics"
        "price"
        "submit";
}

hr.solid {
    /* <hr class="solid"></hr> */
    border-top: 3px solid #bbb;
    width: 90%;
    margin-top: 30px;
}

#location {
    grid-area: location;
}

#city-state {
    width: 100%;
    display: flex;
}

input {
    width: 96%;
}

#state-div {
    margin-left: 5px;
}

#lng-lat {
    display: flex;
}

#lng-div {
    margin-left: 5px;
}

#description {
    grid-area: description;
}

#title {
    grid-area: title;
}

#pictures {
    grid-area: pics;
    display: grid;
    grid-template: 2fr 1fr 1fr 1fr 1fr 1fr/1fr;
    grid-template-areas:
        "header"
        "prev"
        "pic1"
        "pic2"
        "pic3"
        "pic4";
}

#pricing {
    grid-area: price;
}

#submit-button {
    grid-area: submit;
    display: flex;
    justify-content: center;
}

#submit {
    border: none;
    background-color: #999999;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 5px;
}
