.hidden {
    display: none;
}

.dropDown li {
    list-style-type: none;
}

.logoutDropDown li {
    list-style-type: none;
}

.about-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.about-button:hover {
    cursor: pointer;
}

/* .dropDown-div {
    border: 1px solid black;
} */

#log-out-button {
    border: 1px solid #CCCCCC;
    background-color: white;
    color: black
}

nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    height: 70px;
    padding-left: 60px;
    padding-right: 20px;
    border-bottom: 2px solid #cccccc;
}

span {
    font-size: 14pt;
}

.dropDown {
    margin-top: 10px;
    border: none;
    grid-area: dropDown;
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    background-color: white;
    padding-left: 0px;
    width: 260px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.logoutDropDown {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    grid-area: dropDown;
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    background-color: white;
    padding-left: 0px;
    width: 240px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* .login-signup-link {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.menu-buttons {
    padding-left: 30px;
    padding-right: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.menu-buttons:hover {
    background-color: #f3f3f3;
}

.login-button {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.signup-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.logout-li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.about-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d6d6d6;
}

.about-button:hover {
    cursor: pointer;
}

.dropButton {
    z-index: 3;
}

.nav {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-weight: 700; */
    /* margin-left: 10px; */
}

.home-airbnb {
    font-weight: 1000;
    font-size: 18pt;
    color: #FF385C;
}

.lowercase {
    text-transform: lowercase;
}

.logout-menu {
    width: 240px;
}

.signed-menu {
    width: 260px;
}

.create-link {
    font-weight: bold;
    color: #222222;
    font-size: 10pt;
}

.create {
    grid-area: create;
}

.link:any-link {
    color: black;
    text-decoration: none;
}

.right-side {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
    grid-template-areas:
        "create button"
        "blank dropDown";
    justify-items: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 20px;
    width: 350px;
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.profile-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
    border-radius: 25px 25px 25px 25px;
    width: 90px;
    height: 50px;
    border: 1px solid #CCCCCC;
    background-color: white;
    color: black;
    /* font-size: 20pt; */
    transition: transform ease 0.3s, box-shadow ease 0.3s;
}

.profile-button:hover {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.shadowCl {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    /* transform: translateY(-1px); */
}

/* #create-span {
    width: 145px;
    border: 1px solid #CCCCCC;
} */

#airbnb-logo {
    font-size: 30px;
    text-transform: lowercase;
    color: #FF385C;
}

#bar-icon {
    color: #222222;
}

#user-icon {
    color: #717171;
}
